$dark-primary-color: #191414;
$green-primary-color: #1db954;
$dark-light: #282828;
$dark-secondary: #121212;

$green-dark: #294845;

$grey-light: #b3b3b3;
$grey-dark-3: #535353;
$white-primary: #b3b3b3;
$white-color: #ffffff;
$black-color: #000000;

$red-primary: #ea3b2e;
$red-secondary: #8b251b;
$red-tertiary: #4b1814;
